.container {
  max-width: 50%;
  height: auto;
  margin: 75%;
  display:auto ;
  border-width: inherit;
  max-width: 20ch;
}

.eatme {
  color: rgb(234, 243, 237);
}

body {
  background-image: url(../img/burgerimg.png);
  background-size: 100%;
  background-position: right;
  background-repeat: no-repeat;
  height: 800px;
  width: 150px;
  display: auto;
  flex-direction: auto;
  justify-content: center;
  padding: 0 50px;
  font-size: larger ;
  font-family:  Calibri;
  color: rgba(250, 106, 10, 0.995);
  
}


h1{
  text-align: left;
  width: 20em;
  margin-left:initial; 

}

h2{
  width: 20em;
}

ul{
  text-align:left;
  width: 15em;
  
}

form{
  width: 20em;
}
